*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: grey;
  display: flex;
  flex-wrap: wrap ;
  gap: 0.5em; 
  /* this can change the size of the cards dynamically */
  font-size: 0.5rem; 
}

.card {
  --width: 5em; 
  --height: calc(var(--width) * 1.4);
  width: var(--width);
  height: var(--height);
  background-color: white;
  border: 1px solid black;
  border-radius: 0.25em;
  padding: 1em;
  display: grid; 
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, 1fr);
  position: relative; 

}

.pip {
  grid-row-end: span 2;
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  background-repeat: no-repeat;
  background-position: center;
  background-color: cover;
}

[data-suit="heart"].card,
[data-suit="diamond"].card {
  color: red; 
}

[data-suit="spade"].card,
[data-suit="club"].card {
  color: black;
}

[data-suit="heart"] .pip {
  background-image: url('assets/img/heart.svg');
}

[data-suit="diamond"] .pip {
  background-image: url('assets/img/daimonds.svg');
}

[data-suit="club"] .pip {
  background-image: url('assets/img/club.svg');
}

[data-suit="spade"] .pip {
  background-image: url('assets/img/spade.svg');
}

.corner-number {
  position: absolute; 
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
}

.corner-number.top {
  top: 0.25em; 
  left: 0.25em; 
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.corner-number.bottom {
  bottom: 0.25em; 
  right: 0.25em; 
  transform: rotate(180deg);
}

.corner-number::after {
  line-height: 0;
  display: block;
  width: 0.5em;
}

[data-suit="heart"] .corner-number::after {
  content: url('assets/img/heart.svg');
}

[data-suit="spade"] .corner-number::after {
  content: url('assets/img/spade.svg');
}
[data-suit="club"] .corner-number::after {
  content: url('assets/img/club.svg');
}
[data-suit="diamond"] .corner-number::after {
  content: url('assets/img/diamond.svg');
}

.pip.large {
  grid-row-end: span 6; 
  grid-column-end: span 3;
}

/* this is for the red cards when they are set  */

[data-value="J"][data-suit="diamond"] .pip,
[data-value="J"][data-suit="heart"] .pip {
  background-image: url('assets/img/jack-red.svg');
}

[data-value="K"][data-suit="diamond"] .pip,
[data-value="K"][data-suit="heart"] .pip {
  background-image: url('assets/img/king-red.svg');
}

[data-value="Q"][data-suit="diamond"] .pip,
[data-value="Q"][data-suit="heart"] .pip {
  background-image: url('assets/img/queen-red.svg');
}

/* this is for setting the black cards  */

[data-value="J"][data-suit="spade"] .pip,
[data-value="J"][data-suit="club"] .pip {
  background-image: url('assets/img/jack-black.svg');
}

[data-value="K"][data-suit="spade"] .pip,
[data-value="K"][data-suit="club"] .pip {
  background-image: url('assets/img/king-black.svg');
}

[data-value="Q"][data-suit="spade"] .pip,
[data-value="Q"][data-suit="club"] .pip {
  background-image: url('assets/img/queen-black.svg');
}


/* Ace Card Style */

[data-value="A"] .pip,
[data-value="J"] .pip,
[data-value="Q"] .pip,
[data-value="K"] .pip {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-row-end: span 6; 
  grid-column-end: span 3;
}



/* card 2 */
[data-value="2"] .pip:first-child {
  grid-row-start: 1;
  grid-column-start: 2;
}


[data-value="2"] .pip:nth-child(2) {
  grid-row-start: 7;
  grid-column-start: 2;
  transform: rotate(180deg);
}

/* card 3 styling */
[data-value="3"] .pip:first-child {
  grid-row-start: 1;
  grid-column-start: 2;
}


[data-value="3"] .pip:nth-child(2) {
  grid-row-start: 4;
  grid-column-start: 2;
}

[data-value="3"] .pip:nth-child(3) {
  grid-row-start: 7;
  grid-column-start: 2;
  transform: rotate(180deg);
}



/* doing 4 now */



[data-value="4"] .pip:first-child {
  grid-row-start: 1;
  grid-column-start: 1;
}


[data-value="4"] .pip:nth-child(2) {
  grid-row-start: 1;
  grid-column-start: 3;
}

[data-value="4"] .pip:nth-child(3) {
  grid-row-start: 7;
  grid-column-start: 1;
  transform: rotate(180deg);
}


[data-value="4"] .pip:nth-child(4) {
  grid-row-start: 7;
  grid-column-start: 3;
  transform: rotate(180deg);
}

/* doing card 5 now  */


[data-value="5"] .pip:first-child {
  grid-row-start: 1;
  grid-column-start: 1;
}


[data-value="5"] .pip:nth-child(2) {
  grid-row-start: 1;
  grid-column-start: 3;
}

[data-value="5"] .pip:nth-child(3) {
  grid-row-start: 7;
  grid-column-start: 1;
  transform: rotate(180deg);
}


[data-value="5"] .pip:nth-child(4) {
  grid-row-start: 7;
  grid-column-start: 3;
  transform: rotate(180deg);
}

[data-value="5"] .pip:nth-child(5) {
  grid-row-start: 4;
  grid-column-start: 2;
}

/* doing card 6  */


[data-value="6"] .pip:first-child {
  grid-row-start: 1;
  grid-column-start: 1;
}


[data-value="6"] .pip:nth-child(2) {
  grid-row-start: 1;
  grid-column-start: 3;
}

[data-value="6"] .pip:nth-child(3) {
  grid-row-start: 7;
  grid-column-start: 1;
  transform: rotate(180deg);
}


[data-value="6"] .pip:nth-child(4) {
  grid-row-start: 7;
  grid-column-start: 3;
  transform: rotate(180deg);
}

[data-value="6"] .pip:nth-child(5) {
  grid-row-start: 4;
  grid-column-start: 1;
}

[data-value="6"] .pip:nth-child(6) {
  grid-row-start: 4;
  grid-column-start: 3;
}

/* doing card 7  */


[data-value="7"] .pip:first-child {
  grid-row-start: 1;
  grid-column-start: 1;
}


[data-value="7"] .pip:nth-child(2) {
  grid-row-start: 1;
  grid-column-start: 3;
}

[data-value="7"] .pip:nth-child(3) {
  grid-row-start: 7;
  grid-column-start: 1;
  transform: rotate(180deg);
}


[data-value="7"] .pip:nth-child(4) {
  grid-row-start: 7;
  grid-column-start: 3;
  transform: rotate(180deg);
}

[data-value="7"] .pip:nth-child(5) {
  grid-row-start: 4;
  grid-column-start: 1;
}

[data-value="7"] .pip:nth-child(6) {
  grid-row-start: 4;
  grid-column-start: 3;
}

[data-value="7"] .pip:nth-child(7) {
  grid-row-start: 2;
  grid-column-start: 2;
}

/* doing card 8  */


[data-value="8"] .pip:first-child {
  grid-row-start: 1;
  grid-column-start: 1;
}


[data-value="8"] .pip:nth-child(2) {
  grid-row-start: 1;
  grid-column-start: 3;
}

[data-value="8"] .pip:nth-child(3) {
  grid-row-start: 7;
  grid-column-start: 1;
  transform: rotate(180deg);
}


[data-value="8"] .pip:nth-child(4) {
  grid-row-start: 7;
  grid-column-start: 3;
  transform: rotate(180deg);
}

[data-value="8"] .pip:nth-child(5) {
  grid-row-start: 4;
  grid-column-start: 1;
}

[data-value="8"] .pip:nth-child(6) {
  grid-row-start: 4;
  grid-column-start: 3;
}

[data-value="8"] .pip:nth-child(7) {
  grid-row-start: 2;
  grid-column-start: 2;
}

[data-value="8"] .pip:nth-child(8) {
  grid-row-start: 6;
  grid-column-start: 2;
  transform: rotate(180deg);
}

/* doing card 9 */

[data-value="9"] .pip:first-child {
  grid-row-start: 1;
  grid-column-start: 1;
}


[data-value="9"] .pip:nth-child(2) {
  grid-row-start: 3;
  grid-column-start: 1;
}

[data-value="9"] .pip:nth-child(3) {
  grid-row-start: 5;
  grid-column-start: 1;
  transform: rotate(180deg);
}


[data-value="9"] .pip:nth-child(4) {
  grid-row-start: 7;
  grid-column-start: 1;
  transform: rotate(180deg);
}

[data-value="9"] .pip:nth-child(5) {
  grid-row-start: 1;
  grid-column-start: 3;
}

[data-value="9"] .pip:nth-child(6) {
  grid-row-start: 3;
  grid-column-start: 3;
}

[data-value="9"] .pip:nth-child(7) {
  grid-row-start: 5;
  grid-column-start: 3;
  transform: rotate(180deg);
}

[data-value="9"] .pip:nth-child(8) {
  grid-row-start: 7;
  grid-column-start: 3;
  transform: rotate(180deg);
}

[data-value="9"] .pip:nth-child(9) {
  grid-row-start: 4;
  grid-column-start: 2;
}

/* doing card 10  */

[data-value="9"] .pip:first-child {
  grid-row-start: 1;
  grid-column-start: 1;
}


[data-value="9"] .pip:nth-child(2) {
  grid-row-start: 3;
  grid-column-start: 1;
}

[data-value="9"] .pip:nth-child(3) {
  grid-row-start: 5;
  grid-column-start: 1;
  transform: rotate(180deg);
}


[data-value="9"] .pip:nth-child(4) {
  grid-row-start: 7;
  grid-column-start: 1;
  transform: rotate(180deg);
}

[data-value="9"] .pip:nth-child(5) {
  grid-row-start: 1;
  grid-column-start: 3;
}

[data-value="9"] .pip:nth-child(6) {
  grid-row-start: 3;
  grid-column-start: 3;
}

[data-value="9"] .pip:nth-child(7) {
  grid-row-start: 5;
  grid-column-start: 3;
  transform: rotate(180deg);
}

[data-value="9"] .pip:nth-child(8) {
  grid-row-start: 7;
  grid-column-start: 3;
  transform: rotate(180deg);
}

[data-value="9"] .pip:nth-child(9) {
  grid-row-start: 4;
  grid-column-start: 2;
}
/* going card 10  */

[data-value="9"] .pip:first-child {
  grid-row-start: 1;
  grid-column-start: 1;
}


[data-value="9"] .pip:nth-child(2) {
  grid-row-start: 3;
  grid-column-start: 1;
}

[data-value="9"] .pip:nth-child(3) {
  grid-row-start: 5;
  grid-column-start: 1;
  transform: rotate(180deg);
}


[data-value="9"] .pip:nth-child(4) {
  grid-row-start: 7;
  grid-column-start: 1;
  transform: rotate(180deg);
}

[data-value="9"] .pip:nth-child(5) {
  grid-row-start: 1;
  grid-column-start: 3;
}

[data-value="9"] .pip:nth-child(6) {
  grid-row-start: 3;
  grid-column-start: 3;
}

[data-value="9"] .pip:nth-child(7) {
  grid-row-start: 5;
  grid-column-start: 3;
  transform: rotate(180deg);
}

[data-value="9"] .pip:nth-child(8) {
  grid-row-start: 7;
  grid-column-start: 3;
  transform: rotate(180deg);
}

[data-value="9"] .pip:nth-child(9) {
  grid-row-start: 4;
  grid-column-start: 2;
}

/* doing card 10  */

[data-value="10"] .pip:first-child {
  grid-row-start: 1;
  grid-column-start: 1;
}


[data-value="10"] .pip:nth-child(2) {
  grid-row-start: 3;
  grid-column-start: 1;
}

[data-value="10"] .pip:nth-child(3) {
  grid-row-start: 5;
  grid-column-start: 1;
  transform: rotate(180deg);
}


[data-value="10"] .pip:nth-child(4) {
  grid-row-start: 7;
  grid-column-start: 1;
  transform: rotate(180deg);
}

[data-value="10"] .pip:nth-child(5) {
  grid-row-start: 1;
  grid-column-start: 3;
}

[data-value="10"] .pip:nth-child(6) {
  grid-row-start: 3;
  grid-column-start: 3;
}

[data-value="10"] .pip:nth-child(7) {
  grid-row-start: 5;
  grid-column-start: 3;
  transform: rotate(180deg);
}

[data-value="10"] .pip:nth-child(8) {
  grid-row-start: 7;
  grid-column-start: 3;
  transform: rotate(180deg);
}

[data-value="10"] .pip:nth-child(9) {
  grid-row-start: 2;
  grid-column-start: 2;
}

[data-value="10"] .pip:nth-child(10) {
  grid-row-start: 6;
  grid-column-start: 2;
  transform: rotate(180deg);
}
